# Database settings
# Для PostgreSQL:
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/courses
# Для SQLite:
DATABASE_URL=sqlite+aiosqlite:///./courses.db

# SSO settings
SSO_URL=http://sso-service:8000
SSO_REALM=courses
SSO_CLIENT_ID=courses-api
SSO_CLIENT_SECRET=your-client-secret-from-sso

# URL settings
API_URL=http://localhost:8001
FRONT_SSO_URL=http://localhost:3000

# Application settings
APP_NAME=Courses API
DEBUG=True